/* текскт */
p, ol, ul {
   font-size: medium;
   /*font-family: 'Roboto';*/
}

ul.local_index {
    font-size: small;
    line-height: 1.5;
}

a, a.to_index,  a.to_index:visited {
color: #20b2aa;
}

a:hover, a.to_index:hover {
color: #188781;
}

a:visited {
color: darkslategray;
}

p {
    line-height: 1.5;
    text-align: justify;
    /*text-indent: 1.5em;*/
}

p.note {
    margin: 25 px;
    font-style: italic;
}

p.page_note {
    font-size: small;
    text-align: right;
    margin: 0;
    padding: 0;
}

li.local_index {
    list-style: none;
}

li.wide_list {
     line-height: 1.5;
}

/* таблицы */
caption, p.img{    
    font-family: inherent;
    font-size: medium;
    font-style: italic;
    caption-side: bottom;    
}

table, table.wide_table {    
    border-width: thin;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    border-width: thin;
    margin: auto;    
}

table.wide_table {
    width: 100%;
}

th {
    text-align: center;
    font-family: 'Roboto';
    font-size: medium;
    background-color: #222;    
    border-width: thin;
    border-color: white;
    border-style: solid;
    border-collapse: collapse;
    border-width: thin;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    color: #CCC;
    border-top-color: black;
}

th:first-child {
    border-left-color: black;
}

th:last-child {
    border-right-color: black;
}

td {
    text-align: left;
    border-width: thin;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    border-width: thin;
    padding-left: 4pt;
    padding-right: 4pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
}

td.number {
    text-align: right;
}

/* рисунки */
img.wide {
    width: 730px;
}

img.tight{
    width: 500px;
}

img.default{;
}


img.printer {
    width: 15cm;    
}

p.img{    
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

