.container {
    width: 1170;
    background-color: white;
    margin: 0 auto;
}

body {
    background-color: white;
    padding: 0px;
    font-family: 'Roboto';
    margin: 0;
}

.menu {
    float: left;
    position: fixed;
    width: 225px;    
    background-color: white;
    margin-top: 12px;
    /*padding-top: 10px;*/
}

.content {
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: #20b2aa;
    margin-top: 0px;
    padding-left: 278px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

.footer {
    background: white;
    clear: left;
    padding-right: 20px;
    text-align: right;
    margin-top: 6px;
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: #20b2aa;
    color: #999;
    font-size: small;
}

.header {
    background: #20b2aa;
    height: 95px;
    color: #000;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 6px;
}

html {
    margin: 0;
    padding: 0;
}
