/* общие атрибуты для всех пунктов меню */
.menu_item, .selected_menu_item, .submenu_item, .selected_submenu_item {
    background-color: #20B2AA;
    color: #FFFFFF;
    font-family: Arial; /* font-family: имя шрифта [, имя шрифта[, ...]] | inherit */
    font-size: 14pt;
    font-style: normal; /* font-style: normal (прямой) | italic (курсив) | oblique (наклонный) | inherit (как у родителя) */
    font-variant: normal; /* normal | small-caps (капитель) | inherit (как у родителя) */
    list-style-type: none;
}

/* атрибуты для пунктов меню первого уровня */
.menu_item, .selected_menu_item{
    padding-left: 12px; /* http://htmlbook.ru/css/pading-left ширина отступа слева*/    
}

/* активный пункты меню */
.selected_menu_item, .selected_submenu_item {
    background-color: #FFFFFF;
    color: #000000
}
/* атрибуты для пунктов меню второго уровня*/
.submenu_item, .selected_submenu_item{
    padding-left: 24px; /* http://htmlbook.ru/css/pading-left ширина отступа слева*/    
}

/* атрибуты для пассивного пункта меню второго уровня */
.submenu_item {
    background-color: #008080;
}